@font-face {
  font-family: 'Afacad Flux';
  src: url('./Afacad_Flux/AfacadFlux-VariableFont_slnt\,wght.ttf') format('truetype');
  font-weight: 500 400 300;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: 
    url("./Roboto/Roboto-Light.ttf") format("truetype"),;
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: 
    url("./Roboto/Roboto-Regular.ttf") format("truetype"),;
  font-weight: 400;
  font-style: normal;
}

:root {
  font-size: 16px;

}
/* || Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*, *::before, *::after {
    box-sizing: border-box;
  }
  
  * {
    margin: 0;
  }
  
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  
  input, button, textarea, select {
    font: inherit;
  }
  
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  
  p {
    text-wrap: pretty;
  }
  h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
  }
  
  #root, #__next {
    isolation: isolate;
  }

/* || class selectors: block level */
/* TODO: follow BEM notation */