@font-face {
  font-family: 'Afacad Flux';
  src: url('./Afacad_Flux/AfacadFlux-VariableFont_slnt\,wght.ttf') format('truetype');
  font-weight: 500 400 300;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: 
    url("./Roboto/Roboto-Light.ttf") format("truetype"),;
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: 
    url("./Roboto/Roboto-Regular.ttf") format("truetype"),;
  font-weight: 400;
  font-style: normal;
}

:root {
  font-size: 16px;

}
/* || Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*, *::before, *::after {
    box-sizing: border-box;
  }
  
  * {
    margin: 0;
  }
  
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  
  input, button, textarea, select {
    font: inherit;
  }
  
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  
  p {
    text-wrap: pretty;
  }
  h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
  }
  
  #root, #__next {
    isolation: isolate;
  }

/* || class selectors: block level */
/* TODO: follow CUBE CSS methodology */
:root {
  font-size: 16px;
  --300: calc(1rem * 0.8);
  --400: 1rem;
  --500: calc(1rem * 1.33);
  --600: calc(1rem * 1.77);
  --700: calc(1rem * 2.40);

}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  line-height: 1.5;
  overflow-x: hidden;
  margin-top: var(--600);
}

h1,
h2,
h3 {
  line-height: 1.2;
}

.wrapper {
  max-width: 75rem;
  margin-inline: auto;
}
.wrapper-projects {
  min-height: 45px;
  background-color: hsl(0, 45%, 56%);
  border-radius: 4px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  padding-inline: 1rem;
}

.wrapper-projects > * {
  background-color: hsl(0, 45%, 51%);
  color: white;
  padding: 0.2rem 1rem;
  border-radius: 4px;
  flex: 0 1 auto;
  font-weight: 400;
  margin-right: 1rem;
}

.wrapper-task {
  position: relative;
  padding: 1rem;
  min-height: 5rem;
  background-color: hsl(0, 0%, 97%);
  border-radius: 4px 0 0 4px;
}

.wrapper-task::before {
  position: absolute;
  content: "";
  background-color: rgb(87, 87, 87);
  top: 0;
  left:0;
  height: 100%;
  width: 5px;
  border-radius: 4px 0 0 4px;
}
.flex-item-grow {
  flex: 1 0 auto;
}

.flex {
  display: flex;
}
.flex-col {
  flex-direction: column;
}
.flex-space-apart {
  justify-content: space-between;
}

.flow-y-bottom {
  margin-bottom: 1rem;
}

.task__main-content {
  flex: 1 0 auto;
  justify-content: center;
  padding-inline: 2rem;
  max-width: 100%;
}

.wrapper-task *[data-is-hidden="true"] {
  display: none;
}

.taskHeadingText {
  font-size: 1.6rem;
  line-height: 1.2;
  font-weight: 400;
}

.taskBaseText {
  font-size: 1.25rem;
  line-height: 1.5;
  font-weight: 300;
}

.taskDescription {
  padding: 1.2rem;
  background-color: hsl(218, 92%, 95%);
  border-radius: 4px;
  min-height: 8rem;
  color: #a1a1a1;
}

.task__button {
  height: 5rem;
}

.task__button_toDo[data-is-done="true"]{
  color: green;
}
.task__button_toDo[data-is-done="false"]{
  color: red;
}